<ion-content>
   
    <div class="logo">

    </div>
    
    <div class="formulario1 ion-text-center">
      <ion-label>Escolha a Cidade</ion-label>   
      <ion-select expand="block"  value="1" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option value="1">Ouricuri</ion-select-option>
        <ion-select-option value="2">Bodocó</ion-select-option>
        <ion-select-option value="3">Araripina</ion-select-option>
        <ion-select-option value="4">Trindade</ion-select-option>
      </ion-select>
      <ion-button expand="block" href="../tabs">Entrar</ion-button>
    </div>

    <div class="rodape">    
    </div>

</ion-content>
