<ion-header>
  <ion-toolbar>
    <ion-title color="primary" class="ion-text-center">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h3>Equipe - Comércio da Cidade.</h3>
    <p class="paragrafo p1">
      Aplicativo desenvolvido por professores e estudantes do IF Sertão - PE, campus Ouricuri. 
      Para enfrentamento à pandemia causada pelo Corona vírus (COVID-19). 
      Este aplicativo visa facilitar a busca por produtos e serviços oferecidos nas cidades, 
      através desta plataforma é possível conhecer detalhes de funcionamento, contatos e produtos 
      da maioria dos estabelecimentos da cidade, incluindo empresas formais e autônomos.  
    </p>
    <p class="paragrafo p1">
      Para adicionar seu estabelecimanto faça seu cadastro e em seguida o login, é fácil e gratuito.
    </p>
    <p class="paragrafo p2">
      Para maiores informações entre em contato com nossa equipe:<br>
      E-mail:<br>
      WhatsApp:<br>
      Telefone:
    </p>
    <div class="rodape">    
    </div>
  </ion-text>
  

</ion-content>
