<ion-content>
  <div class="topo">
      <ion-router-link class="titulo2" href="../home"> Ouricuri<ion-icon name="location-sharp"></ion-icon></ion-router-link>
      <!--<span class="titulo2">Ouricuri<ion-icon name="location-sharp"></ion-icon></span>-->
      <ion-searchbar placeholder="Comércio da Cidade" autocomplete="on"></ion-searchbar>
  </div>
  <div class="categorias">
  <span class="titulo2">Categorias</span>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
    <ion-slide>
      <img src="/assets/img/sem_foto.png">
    </ion-slide>
  </ion-slides>
</div>
  <span class="titulo2">Estabelecimentos</span>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/sem_foto.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>Mercadinho do Povo</h2>
        </ion-text>
        <p>TEL: (87) 9999-9999</p>
        <ion-text color="secondary">
          <p>Funcionamento seg a sex das 8h às 20.</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>  


</ion-content>
